<h1>Alphabetized</h1>

<nav>
    <%= link_to "All Customers", root_path %>
    <%= link_to "Alphabetized", alphabetized_customers_path %>
    <%= link_to "Missing Email", missing_email_customers_path %>
</nav>

<div class="customers-grid">
    <% @customers.each do |customer| %>
        <%= render partial: "customer", locals: { customer: customer } %>
    <% end %>
</div>
